/*
* comun.css
*/

/*=============================================sobre escritura de clases bootstrap====================================*/
p {
    font-weight: 400 !important;
}

.navbar-brand {
    padding: 6px;
}

.skin-black .main-header > .navbar .navbar-nav > li > a {
    border-right: 0;
}

.skin-black .main-header > .navbar .navbar-custom-menu .navbar-nav > li > a,
.skin-black .main-header > .navbar .navbar-right > li > a {
    border-left: 0;
    border-right-width: 0;
}

.media-middle {
    vertical-align: top;
}

.well-mod {
    padding: 5px 10px 0px 10px;
}

.profile-user-img {
    width: 100px !important;
    height: 100px !important;
}

/*============================================sobre escritura de clases bootstrap=====================================*/

.btn-register {
    background-color: #00c0ef;
}

.btn-register a {
    color: #FFFFFF !important;
    font-weight: 600;
}

.btn-register a:hover {
    color: #000000 !important;
    font-weight: 600;
}

.navbar-brand {
    padding: 0px 10px 0px 15px;
}

.edit-post textarea {
    margin-bottom: 5px;
    width: 100%;
    font-weight: 400 !important;
    resize: none;
    overflow: hidden;
    height: auto;
}

.edit-post button {
    font-size: .87em;
    padding: 5px 7px !important;
}

.post-comment {
    font-size: 1.2em;
    font-weight: 500!important;
}

.replayed-post {
    margin-left: 50px;
}

/* ==================================================== track-box-container =========================================*/

.track-box-container {
    margin: 0;
    padding: 0;
}

.track-box-container div.box {

    background-color: #FFFFFF;
    display: inline-block;
    height: 420px;
    overflow: hidden;

    -webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.35);
    box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.35);

    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.track-box-container div.box:hover {

    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.75);

    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

div.box div.box-top {
    height: 110px;
    background-repeat: no-repeat;
    background-position: center;
}

div.box div.box-content {
    padding: 15px 15px 0px 15px;
}

div.box div.box-footer {
    /*height: 250px;*/
    padding: 15px;
    font-size: 14px;
}

div.box div.box-footer div.share div {
    display: inline-block;
    width: 32.3%;
}

div.box div.box-footer div.share div:nth-child(1) {
    text-align: left;
}

div.box div.box-footer div.share div:nth-child(2) {
    text-align: center;
}

div.box div.box-footer div.share div:nth-child(3) {
    text-align: right;
}

div.box div.flag {
    border-left: 22px solid #d2d6de;
    border-right: 22px solid #d2d6de;
    border-bottom: 14px solid transparent;
    height: 52px;
    top: 0;
    right: 0;
    width: 0px;
    position: absolute;
}

div.box div.flag i.fa {
    color: rgba(0, 0, 0, 0.6);
    font-size: 29px;
    background-color: #d2d6de;
    text-shadow: rgba(255, 255, 255, 0.2) 3px 2px 3px;
    cursor: pointer;
}

div.box div.flag i.fa:hover {
    color: #f13426;
}


.text-ovweflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.favorite {
    color: #f13426 !important;
}

.toggle-favorite i {
    border-bottom: 1px dotted #0a70f8;
}

.toggle-favorite i:hover {
    color: #f13426 !important;
    border-bottom: 1px dotted #f13426;
}

div.box div.flag i {
    position: absolute;
    left: -14px;
    top: 6px;
}

/*border: thin solid darkgray;*/
div.box div.box-content div.title {
    font-size: 16px;
}

div.box div.box-content div.data {
    padding-bottom: 5px;
}

div.box div.box-content div.data div {
    display: inline-block;
}
/*================================================= track box xontainer ==============================================*/

@media only screen and (max-width: 768px) {

    div.box div.box-content div.data div:nth-child(1) {
        width: 99%;
    }

    div.box div.box-content div.data div:nth-child(2) {
        display: none;
    }

    ul.btn-log li a span {
        display: none;
    }

}

@media only screen and (min-width: 769px) {

    div.box div.box-content div.data div:nth-child(1) {
        width: 40%;
    }

    div.box div.box-content div.data div:nth-child(2) {
        width: 56.5%;
    }

}

/*div.box div.box-content div.data div:nth-child(3){
    width: 22%;
}*/
.more-info {
    cursor: pointer;
    left: 5px;
    position: absolute;
    text-shadow: 0 1px #a5a5a5;
    top: 2px;
}

div.box div.box-content div.sinapsis {
    color: #6f6f6f;
    text-align: justify;
    height: 120px;
    padding: 0px 0px 10px 0px;
    font-weight: 400;
}

div.box div.box-content div.controls audio {
    width: 100%;
}

div.box div.box-content div.score {
    padding-top: 10px;
}

div.box div.box-content div.score div.comments a {
    color: #505a5f;
}

div.box div.box-content div.score div.comments a:hover {
    color: dodgerblue;
}

div.box div.box-content div.score div.comments label {
    /*margin-right: 15px;*/
}

div.box div.box-content div.score .playeds {
    font-weight: 700;
    margin-right: 15px;
}

/*div.box div.box-content div.author div{
    display: inline-block;
    width: 49.5%;
}

div.box div.box-content div.author div span{
    color: #505a5f;
}
*/

div.box div.box-footer div.share div a {
    color: #505a5f;
}

div.box div.box-footer div.share a:hover {
    color: dodgerblue;
}

div.box div.option-share {
    background-color: #4285f4;
    bottom: -40px;
    padding: 10px 0px;
    position: absolute;
    width: 100%;

    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

}

.option-share-up {
    bottom: 0px !important;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

div.box div.option-share div {
    display: inline-block;
    text-align: center;
    width: 32.5%;
}

div.box div.option-share span.fa-times {
    position: absolute;
    right: 5px;
    top: 2px;
    color: #2b6ad2;
    cursor: pointer;
}

div.box div.option-share span.fa-times:hover {
    color: #FFFFFF;
}

div.box div.option-share div a {
    color: whitesmoke;
}

div.rate a {
    color: #4285f4;
    font-size: 1.25em;
}

div.rate a:hover {
    color: #4285f4;
}

.no-content {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #cacaca;
}

.no-content span label {
    display: block;
}

.no-content span {
    display: table-cell;
    vertical-align: middle;
}

/**
Post Track
**/

.media .media-body {
    font-size: 1em;
    font-weight: 400;
}

.media .media-body h5 {
    font-weight: 700;
}

.spiner {
    width: 100% !important;
    text-align: center;
    color: #007db3;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 769px) {
    .track-box-container > div {
        width: 97%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 993px) {
    .track-box-container > div {
        width: 47%;
    }

    .track-box-container div.box {
        margin: 10px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1201px) {
    .track-box-container > div {
        width: 31.2%;
    }

    .track-box-container div.box {
        margin: 10px;
    }
}

/*

############ track-box-container ###########

############      buscador       ###########
*/

.searchform {

    display: inline-block;

    zoom: 1; /* ie7 hack para display:inline-block */

    *display: inline;

    border: solid 1px #d2d2d2;

    padding: 3px 5px;

    -webkit-border-radius: 2em;

    -moz-border-radius: 2em;

    border-radius: 2em;

    -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, .1);

    -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, .1);

    box-shadow: 0 1px 0px rgba(0, 0, 0, .1);

    background: #f1f1f1;

    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));

    background: -moz-linear-gradient(top, #fff, #ededed);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie7 */

    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie8 */

}

.searchform input {

    font: normal 12px/100% Arial, Helvetica, sans-serif;

}

.searchform .searchfield {

    background: #fff;

    padding: 6px 6px 6px 8px;

    width: 202px;

    border: solid 1px #bcbbbb;

    outline: none;

    -webkit-border-radius: 2em;

    -moz-border-radius: 2em;

    border-radius: 2em;

    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);

    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);

    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);

}

.searchform .searchbutton {

    color: #fff;

    border: solid 1px #494949;

    font-size: 11px;

    height: 27px;

    width: 27px;

    text-shadow: 0 1px 1px rgba(0, 0, 0, .6);

    -webkit-border-radius: 2em;

    -moz-border-radius: 2em;

    border-radius: 2em;

    background: #5f5f5f;

    background: -webkit-gradient(linear, left top, left bottom, from(#9e9e9e), to(#454545));

    background: -moz-linear-gradient(top, #9e9e9e, #454545);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie7 */

    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie8 */

}

.comments {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

button.registrar {
    padding: 5px;
}

.media .media-body .foot-post {
    font-size: 0.85em;
    margin-top: 10px;
}

.media .media-body .foot-post span {
    margin-right: 20px;
    color: #5a5e56;
}

.media .media-body .foot-post span a {
    color: #5a5e56;
    border-bottom: 1px dotted #5a5e56;
}

.media .media-body .foot-post span a:hover {
    color: #4285f4;
    border-bottom: 1px dotted #4285f4;
}

/*
############      buscador       ###########
*/

/*
*Profile
*/
.image-box-container {
    margin: 0 auto;
    text-align: center;
    width: 150px;
    position: relative;
}

.btn-update-image {
    color: dimgrey;
    cursor: pointer;
    display: inline-block;
    background-color: #FFFFFF;
    border: 1px solid darkgray;
    border-radius: 50%;
    border: 3px solid #d2d6de;
    height: 35px;
    padding: 4px;
    position: absolute;
    right: 20px;
    top: 68px;
    width: 35px;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn-update-image:hover {
    color: #FFFFFF;
    background-color: dimgrey;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.select-avatar {
    padding: 0px 15px;
}

.select-avatar ul {
    padding: 0;
}

.select-avatar ul li {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    border: 2px solid #FFFFFF;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.select-avatar ul li:hover {
    border: 2px solid #00acd6;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.select-avatar ul li:focus {
    border: 2px solid #00acd6;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

p.msj {
    display: none;
}

.app-link {
    text-decoration: none !important;
    font-weight: 600 !important;
    color: #6d7169 !important;
    border-bottom: 1px dotted #0a70f8 !important;
    cursor: pointer;
}

.app-link:hover {
    color: #0a70f8 !important;
}

.instructions .bg-primary {
    padding: 8px;
}

.app-v-list {
    padding: 0;
}

.app-v-list li {
    border: 2px solid #FFFFFF;
    display: inline-block;
    color: #a5a5a5;
    cursor: pointer;
    height: 80px;
    width: 32%;
    padding: 15px;
    margin-bottom: 5px;
    text-align: center;
}

.app-v-list li span {
    display: block !important;
}

.app-v-list li.selected {
    border: 2px solid #00acd6;
}

.app-v-list li:hover {
    border: 2px solid #00acd6;
}

.app-link-icons li a {
    tex-decoration: none;
    color: #a5a5a5;
}

.app-link-icons li label {
    display: block;
    margin-top: 2px;
}

.footer-sosials a{
    margin: 0px 5px;
    text-decoration: none;
}
.footer-sosials a span{
    font-size:1.4em;
}
.footer-sosials a.facebook{
    color: #0d6aad;
}
.footer-sosials a.twitter{
    color: #00a7d0;
}
.footer-sosials a.googlep{
    color: #bd2020;
}

/*==========================================  Dragg and dropp image  ================================================*/

.dropZone {
    border: 2px dashed #d2d2d2;
    margin: 18px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    color: #bbb;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.dropped {
    border: 2px dashed #ffffff;
    margin: 18px;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
    font-size: 20px;
}

.dropZone .controls .cancel,
.dropZone .controls #btn_done {
    display: none;
}

.upload {
    overflow: hidden !important;
}

.dragg-over {
    border: 2px dashed #00acd6 !important;
}

.dropped .labels,
.dropped .controls .upload {
    display: none;
}

.dropped .controls .cancel,
.dropped .controls #btn_done {
    display: inline-block !important;
}

.c-pointer {
    cursor: pointer;
}

.app-instructions {
    margin: 10px 5px;
}

.app-instructions .info {
    position: absolute;
    right: 35px;
    width: 250px;
    display: block;
}

.app-instructions .info p {
    padding: 10px;
    border-radius: 10px 0px 10px 10px;
}

/*============================================ Dragg and dropp image  ================================================*/

@media only screen and (max-width: 768px) {
    .menu-middle-top {
        margin-top: 39px;
    }

    .mmt-menu ul li {
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        width: 100%;
    }

    .mmt-menu ul li {
        border: 1px solid #d2d2d2;
        margin: 5px;
        text-align: center;
        padding: 5px 0px;
        width: 46%;
    }

    .mmt-menu ul li a {
        font-size: 1.3em;
        font-weight: 400;
        color: #58595c;

        width: 100%;
        display: block;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .mmt-menu ul li.active {
        background-color: #00c0ef;
        border: 1px solid #c1c1c1;

        -webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.35);
        -moz-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.35);
        box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.35);
    }

    .mmt-menu ul li.active a {
        color: #f1f1f1 !important;
    }

    .mmt-menu ul {
        padding: 0;
    }

}

@media only screen and (min-width: 769px) {

    /*Sub Menu Section*/
    .menu-middle-top {
        margin-top: 39px;
        padding: 5px 15px 0px 15px;
    }

    .menu-middle-top .mmt-menu {
        height: 40px;
        text-align: center;
        display: block;
        margin: 30px 20px;
    }

    .mmt-menu ul {
        padding: 0;
    }

    .mmt-menu ul li {
        display: inline-block;
        text-decoration: none;
        margin: 0px 15px;
        cursor: pointer;
    }

    .mmt-menu ul li a {
        font-size: 1.4em;
        font-weight: 400;
        color: #58595c;
        border-bottom: 2px #f0f0f0 solid;

        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .mmt-menu ul li.active {
        border-bottom: 2px #58595c solid;
    }

    .mmt-menu ul li a:hover {
        border-bottom: 2px #58595c solid;

        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
}

/*==================================================  Sub Menu Section  ==============================================*/