/*
* comun.css
*/

/*sobre escritura de clases bootstrap*/

.navbar-brand {
    padding: 6px;
}

.skin-black .main-header > .navbar .navbar-nav > li > a {
    border-right: 0;
}

.skin-black .main-header > .navbar .navbar-custom-menu .navbar-nav > li > a,
.skin-black .main-header > .navbar .navbar-right > li > a {
    border-left: 0;
    border-right-width: 0;
}

.media-middle{
    vertical-align: top;
}
/*sobre escritura de clases bootstrap*/

.btn-register {
    background-color: #00c0ef;
}

.btn-register a {
    color: #FFFFFF !important;
    font-weight: 600;
}

.btn-register a:hover {
    color: #000000 !important;
    font-weight: 600;
}

.navbar-brand {
    padding: 0px 10px 0px 15px;
}

/*

############ track-box-container ###########

*/

.track-box-container {
    margin: 0;
    padding: 0;
}

.track-box-container div.box {

    background-color: #FFFFFF;
    display: inline-block;
    height: 420px;
    margin: 10px;
    overflow: hidden;
    /*padding: 15px;*/

    -webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.35);
    box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.35);

    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.track-box-container div.box:hover {

    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.75);

    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

div.box div.box-top {
    height: 110px;
    background-repeat: no-repeat;
    background-position: center;
}

div.box div.box-content {
    padding: 15px 15px 0px 15px;
}

div.box div.box-footer {
    /*height: 250px;*/
    padding: 15px;
    font-size: 14px;
}

div.box div.box-footer div.share div {
    display: inline-block;
    width: 32.5%;
}

div.box div.box-footer div.share div:nth-child(1) {
    text-align: left;
}

div.box div.box-footer div.share div:nth-child(2) {
    text-align: center;
}

div.box div.box-footer div.share div:nth-child(3) {
    text-align: right;
}

div.box div.flag {
    border-left: 22px solid #d2d6de;
    border-right: 22px solid #d2d6de;
    border-bottom: 14px solid transparent;
    height: 52px;
    top: 0;
    right: 0;
    width: 0px;
    position: absolute;
}

div.box div.flag i.fa {
    color: rgba(0, 0, 0, 0.6);
    font-size: 29px;
    background-color: #d2d6de;
    text-shadow: rgba(255, 255, 255, 0.2) 3px 2px 3px;
    cursor: pointer;
}

div.box div.flag i.fa:hover {
    color: #f13426;
}

.favorite {
    color: #f13426 !important;
}

.toggle-favorite i {
    border-bottom: 1px dotted #0a70f8;
}

.toggle-favorite i:hover {
    color: #f13426 !important;
    border-bottom: 1px dotted #f13426;
}

div.box div.flag i {
    position: absolute;
    left: -14px;
    top: 6px;
}

/*border: thin solid darkgray;*/
div.box div.box-content div.title {
    /*padding-bottom: 5px;*/
    font-size: 20px;
}

div.box div.box-content div.data {
    padding-bottom: 5px;
}

div.box div.box-content div.data div {
    display: inline-block;
}

div.box div.box-content div.data div:nth-child(1) {
    width: 30%;
}

div.box div.box-content div.data div:nth-child(2) {
    width: 66.5%;
}

/*div.box div.box-content div.data div:nth-child(3){
    width: 22%;
}*/
.more-info {
    cursor: pointer;
    left: 5px;
    position: absolute;
    text-shadow: 0 1px #a5a5a5;
    top: 2px;
}

div.box div.box-content div.sinapsis {
    color: #6f6f6f;
    text-align: justify;
    height: 120px;
    padding: 0px 0px 10px 0px;
    font-weight: 400;
}

div.box div.box-content div.controls audio {
    width: 100%;
}

div.box div.box-content div.score {
    padding-top: 10px;
}

div.box div.box-content div.score div.comments a {
    color: #505a5f;
}

div.box div.box-content div.score div.comments a:hover {
    color: dodgerblue;
}

div.box div.box-content div.score div.comments label {
    /*margin-right: 15px;*/
}

div.box div.box-content div.score .playeds {
    font-weight: 700;
    margin-right: 15px;
}

/*div.box div.box-content div.author div{
    display: inline-block;
    width: 49.5%;
}

div.box div.box-content div.author div span{
    color: #505a5f;
}
*/

div.box div.box-footer div.share div a {
    color: #505a5f;
}

div.box div.box-footer div.share a:hover {
    color: dodgerblue;
}

div.box div.option-share {
    background-color: #4285f4;
    bottom: -40px;
    padding: 10px 0px;
    position: absolute;
    width: 100%;

    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

}

.option-share-up {
    bottom: 0px !important;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

div.box div.option-share div {
    display: inline-block;
    text-align: center;
    width: 32.5%;
}

div.box div.option-share span.fa-times {
    position: absolute;
    right: 5px;
    top: 2px;
    color: #2b6ad2;
    cursor: pointer;
}

div.box div.option-share span.fa-times:hover {
    color: #FFFFFF;
}

div.box div.option-share div a {
    color: whitesmoke;
}

div.rate a {
    color: #4285f4;
}

div.rate a:hover {
    color: #4285f4;
}

.no-content {
    display: table;
    height: 100px;
    width: 100%;
    text-align: center;
    color: #cacaca;
}

.no-content span label {
    display: block;
}

.no-content span {
    display: table-cell;
    vertical-align: middle;
}

/**
Post Track
**/

.media .media-body {
    font-size: 1em;
    font-weight: 400;
}

.media .media-body h5 {
    font-weight: 700;
}

.spiner {
    width: 100%!important;
    text-align: center;
    color: #007db3;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .track-box-container > div {
        width: 97%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .track-box-container > div {
        width: 47%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .track-box-container > div {
        width: 31.2%;
    }
}

/*

############ track-box-container ###########

############      buscador       ###########
*/

.searchform {

    display: inline-block;

    zoom: 1; /* ie7 hack para display:inline-block */

    *display: inline;

    border: solid 1px #d2d2d2;

    padding: 3px 5px;

    -webkit-border-radius: 2em;

    -moz-border-radius: 2em;

    border-radius: 2em;

    -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, .1);

    -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, .1);

    box-shadow: 0 1px 0px rgba(0, 0, 0, .1);

    background: #f1f1f1;

    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));

    background: -moz-linear-gradient(top, #fff, #ededed);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie7 */

    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie8 */

}

.searchform input {

    font: normal 12px/100% Arial, Helvetica, sans-serif;

}

.searchform .searchfield {

    background: #fff;

    padding: 6px 6px 6px 8px;

    width: 202px;

    border: solid 1px #bcbbbb;

    outline: none;

    -webkit-border-radius: 2em;

    -moz-border-radius: 2em;

    border-radius: 2em;

    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);

    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);

    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);

}

.searchform .searchbutton {

    color: #fff;

    border: solid 1px #494949;

    font-size: 11px;

    height: 27px;

    width: 27px;

    text-shadow: 0 1px 1px rgba(0, 0, 0, .6);

    -webkit-border-radius: 2em;

    -moz-border-radius: 2em;

    border-radius: 2em;

    background: #5f5f5f;

    background: -webkit-gradient(linear, left top, left bottom, from(#9e9e9e), to(#454545));

    background: -moz-linear-gradient(top, #9e9e9e, #454545);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie7 */

    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie8 */

}

.comments {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

button.registrar {
    padding: 5px;
}

.media .media-body .foot-post{
    font-size: 0.85em;
    margin-top: 10px;
}
.media .media-body .foot-post span{
    margin-right: 20px;
    color: #5a5e56;
}

.media .media-body .foot-post span a {
    color: #5a5e56;
    border-bottom: 1px dotted #5a5e56;
}
.media .media-body .foot-post span a:hover {
    color: #4285f4;
    border-bottom: 1px dotted #4285f4;
}

/*
############      buscador       ###########
*/
